{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 2, "knowledge_revision": 12, "git_revision": "f3dd905a0e40a2dad9307447ab666753cb662e92", "hash": "1d666af380b83b2c5033b860e3cfc119", "format-version": 4, "code-base-name": "tic_tac_toe_backend", "filename": "tic_tac_toe_backend/requirements.txt", "revision_history": [{"12": "f3dd905a0e40a2dad9307447ab666753cb662e92"}]}